RewriteEngine On

# Ajuste para el nuevo nombre de directorio
RewriteBase /nekoralist/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L,QSA]
